@page "/indice-pessoas"
@inject HttpClient Http
@inject IJSRuntime JS
@using System.IO
@using CsvHelper

<h3>Pessoas</h3>

<div>
    <a class="btn btn-success" href="criar-pessoa">Nova Pessoa</a>
</div>

@if(pessoas == null)
{
    <text>Carregando...</text>
}
else if(pessoas.Length == 0)
{
    <text>Não há pessoas no banco de dados</text>
}
else
{
    <table class="table">
        <thead>
            <tr>
                <th></th>
                <th>Id</th>
                <th>Nome</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var pessoa in pessoas)
            {
                <tr>
                    <td>
                        <a class="btn btn-info" href="editar-pessoa/@pessoa.Id">Editar</a>
                        <button class="btn btn-danger" @onclick="@(() => ExcluirPessoa(pessoa.Id))">Excluir</button>
                    </td>
                    <td>@pessoa.Id</td>
                    <td>@pessoa.Nome</td>
                </tr>
            }
        </tbody>
    </table>

    <button @onclick="ExportarCsv">Exportar CSV</button>
    <button @onclick="ExportarExcel">Exportar Excel</button>
}

@code {
    Pessoa[] pessoas { get; set; }

    protected override async Task OnInitializedAsync()
    {
        await ListarPessoas();
    }

    async Task ListarPessoas()
    {
        pessoas = await Http.GetFromJsonAsync<Pessoa[]>("pessoas");
    }

    async Task ExcluirPessoa(int idPessoa)
    {
        var pessoaSelecionada = pessoas.First(p => p.Id == idPessoa);
        string mensagemConfirmacao = $"Deseja realmente excluir a pessoa {pessoaSelecionada.Nome}?";
        if(await JS.InvokeAsync<bool>("confirm", mensagemConfirmacao))
        {
            await Http.DeleteAsync($"pessoas/{idPessoa}");
            await ListarPessoas();
        }  
    }

    private async Task ExportarCsv()
    {
        using (var memoryStream = new MemoryStream())
        {
            using (var writer = new StreamWriter(memoryStream))
            {
                using (var csv = new CsvWriter(writer, System.Globalization.CultureInfo.CurrentCulture))
                {
                    csv.WriteRecords(pessoas);
                }

                var arr = memoryStream.ToArray();
                await JS.SalvarComo("pessoas.csv", arr);
            }
        }
    }

    private async Task ExportarExcel()
    {
        using (var package = new ExcelPackage())
        {
            var worksheet = package.Workbook.Worksheets.Add("Pessoas");

            var tableBody = worksheet.Cells["A1:A1"].LoadFromCollection(
                from f in pessoas
                select new { f.Id, f.Nome }, true);

            var header = worksheet.Cells["A1:B1"];
            worksheet.DefaultColWidth = 25;
            tableBody.Style.HorizontalAlignment = ExcelHorizontalAlignment.Left;
            tableBody.Style.Fill.PatternType = ExcelFillStyle.Solid;
            tableBody.Style.Fill.BackgroundColor.SetColor(Color.WhiteSmoke);
            tableBody.Style.Border.BorderAround(ExcelBorderStyle.Medium);
            header.Style.Font.Bold = true;
            header.Style.Font.Color.SetColor(Color.White);
            header.Style.Fill.PatternType = ExcelFillStyle.Solid;
            header.Style.Fill.BackgroundColor.SetColor(Color.DarkBlue);

            await JS.SalvarComo("pessoas.xlsx", package.GetAsByteArray());
        }
    }
}
